@font-face {
    font-family: 'MyFont';
    src: url('fonts/Ostrovsky-Bold_0.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgb(84, 106, 72), #699cce);
    font-size: 1.5vw;
    height: 100%;
    width: 100%;
    font-family: 'MyFont';
    margin: 0;
    padding: 0;
}
h1 {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}
header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.text, .photos {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: justify;
}

img {
    margin-right: 20px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

img:last-child {
    margin-right: 0;
}

footer {
    text-align: center;
    margin-top: auto;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #45a049;
}